.project-card {
  background-color: white;
  border-radius: 8px;
  box-shadow: #2D133E 10px 10px 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 430px;
  height: 430px;
  padding: 15px;
  font-size: small;
}

.project-card:hover {
  box-shadow: #2D133E 15px 15px 15px;
}

.project-card h4 {
  font-size: 25px;
}

.project-card p {
  font-size: 22px;
  color: #2D133E;
  font-weight: 500;
}

.card-img {
  width: 300px;
  height: 168.75px;
}

.project-card-techs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.tech-img {
  width: 20px;
  height: 20px;
}

@media only screen and (max-width: 300px) {
  .project-card {
    width: 100px;
    height: 100px;
  }
  .card-img {
    width: 16px;
    height: 9px;
  }
}
