.infos-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin: auto;
  background-color: #F3EAFB;
  padding: 30px 0px 30px;
}

.hard-skill-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  height: 315px;
  width: 20%;
  padding: 15px;
  border-radius: 8px;
}

.soft-skill-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  width: 20%;
  height: 315px;
  padding: 15px;
  border-radius: 8px;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  width: 20%;
  height: 315px;
  padding: 15px;
  border-radius: 8px;
}

.info-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}

ul {
  list-style-type: none;
  padding: 0;
}

@media only screen and (max-width: 870px) {
  .infos-container {
    flex-direction: column;
    gap: 10px;
  }

  .hard-skill-container {
    width: 60%;
  }

  .soft-skill-container {
    width: 60%;
  }

  .contact-container {
    width: 60%;
  }
}