.profile-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 100%;
  margin: 80px auto;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.profile-text {
  font-size: 28px;
}

.profile-img {
  border: 2px solid #4C1D70;
  border-radius: 9999px;
  width: 300px;
  height: 300px;
}

@media only screen and (max-width: 500px) {
  .profile-container {
    flex-direction: column-reverse;
  }
}

@media only screen and (max-width: 300px) {
  .profile-img {
    width: 200px;
    height: 200px;
  }
}


