.progress-container {
  width: 50%;
}

.progress-bar {
  background-color: #eee;
  border-radius: 4px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25) inset;
  height: 20px;
  width: 100%;
  display: flex;
}

.progress-bar__progress-fun {
  background-color: #DDB5FF;
  height: 100%;
  left: 0;
  top: 0;
  transition: width 0.5s ease;
  width: 0;
  border-radius: 4px 0px 0px 4px;
}

.progress-bar__progress-fun:hover {
  transform: scale(1.01);
}

[aria-label] {
  cursor: default;
}

[aria-label]:after {
  background: #000;
  border-radius: 4px;
  bottom: 100%;
  color: #fff;
  content: attr(aria-label);
  left: 50%;
  margin-left: -60px;
  padding: 10px 0;
  position: absolute;
  text-align: center;
  width: 120px;
  z-index: 98;
  visibility: hidden;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s, transform 0.2s;
}

[aria-label]:hover:after {
  visibility: visible;
  opacity: 1;
  transform: translateY(30px);
}

.progress-bar__progress-front {
  background-color: #AE7CE2;
  height: 100%;
  left: 0;
  top: 0;
  transition: width 0.5s ease;
  width: 0;
}

.progress-bar__progress-front:hover {
  transform: scale(1.01);
}

.progress-bar__progress-back {
  background-color: #472B60;
  height: 100%;
  left: 0;
  top: 0;
  transition: width 0.5s ease;
  width: 0;
}

.progress-bar__progress-back:hover {
  transform: scale(1.01);
}

.progress-bar__progress-science {
  background-color: #261133;
  height: 100%;
  left: 0;
  top: 0;
  transition: width 0.5s ease;
  width: 0;
  border-radius: 0px 4px 4px 0px;
}

.progress-bar__progress-science:hover {
  transform: scale(1.01);
}

.dates {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 10px;
  margin-top: -10px;
}

@media only screen and (max-width: 600px) {
  .progress-container {
    width: 90%;
  }
}
