body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
}

h1 {
  font-family: 'Raleway';
  font-size: 3em;
}

h2, h3, h4, h5, h6 {
  font-family: 'Cormorant Garamond';
  font-size: 30px;
}

p, a, li, span {
  font-family: 'Pavanam';
  font-size: 24px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media only screen and (max-width: 300px) {
  h1, h2, h3, h4, h5, h6, p, a, span, li {
    font-size: 8px;
  }
}

